.widget-tree-table {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;

    .widget-tree-table-column-header {
        padding: 8px;
        font-weight: bold;
    }

    .widget-tree-table-column {
        padding: 8px;
    }

    .widget-tree-table-row {
        display: grid;
        grid-gap: 8px;

        &:focus-visible {
            outline: none;
            & > .widget-tree-table-column {
                outline: -webkit-focus-ring-color auto 1px;
                outline: -moz-mac-focusring auto 1px;
            }
        }

        &.widget-tree-table-row-clickable > div:not(.widget-tree-table-body) {
            cursor: pointer;
        }

        &.widget-tree-table-row-bordered {
            border: 1px solid #eaeaea;
        }
    }

    .widget-tree-table-row-header {
        display: grid;
        border: 1px solid #eaeaea;
    }

    .widget-tree-table-body {
        padding-left: 24px;
        transition: height 0.2s ease 50ms;
        overflow: hidden;

        &.widget-tree-table-branch-hidden {
            display: none;
        }
    }
}
